@import "longform.header";
@import "longform.cover";
@import "longform.inlines";
@import "longform.gallery";
@import "longform.sidebar";
@import "longform.footer";

body {
    margin: 0;
}
.wrapper {
    margin-top: 43px;
}
section {
    padding-top: 44px;
    width: 48rem;
    margin: auto;
    position: relative;
    &.byline-section {
        @media (max-width: 1000px) {
            padding-top: 22px;
        }
    }
    h3 {
        text-align: center;
    }
    p, .subtitle {
        max-width: 36rem;
        margin: 1rem auto;
    }
    p {
        text-align: left;
        font-size: 1.1rem;
        line-height: 150%;
    }
    .large-text {
        font-size: 150%;
    }
    .dropcap::first-line {
        // text-transform: uppercase;
    }
    .dropcap::first-letter {
        font-size: 305%;
        float: left;
        padding-right: .1em;
        line-height: 1;
        margin-top: -3px;
    }
    @media (max-width: 1000px) {
        width: 100%;
        p {
            padding: 0 1rem 0 1rem;
        }
    }
}
.inline-video>div {
    max-height: 100%;
}

.byline-section {
    .byline {
        font-weight: 100;
        font-size: 1em;
        font-variant: small-caps;
        p {
            margin: 0 auto;
        }
    }

}
